<div class="panel panel-default">  
    <div class="panel-heading">  
        <h1 style="text-align: center">Student List</h1><br>  
        <button class="btn btn-primary" (click)="addStudent()">Add</button>
        </div>
        </div>

<div class="panel-body">  
    <table  class="table table-hover table-sm"  >  
        <thead class="thead-light">  
            <tr>  
                <th> Name</th>
                <th> Class</th>
                <th> DOB</th>
                <th> Gender</th>
                <th> Father Name</th>
                <th> Mother Name</th>
                <th> Permanent Address</th>
                <th> Contact Detail</th>
              

                <!-- <th> Mobile</th> -->
            </tr>  
        </thead>  
        <tbody>  
            <tr *ngFor="let studentlist of studentLst">
                <td> {{studentlist.student_name}}</td>
                <td> {{studentlist.student_class}}</td>
                <td> {{studentlist.student_dob}}</td>
                <td> {{studentlist.student_gender}}</td>
                <td> {{studentlist.father_name}}</td>
                <td> {{studentlist.mother_name}}</td>
                <td> {{studentlist.permanent_address}}</td>
                <td> {{studentlist.contacts_details}}</td>
                <td><button (click)="deleteEmployee(studentlist.student_id)" class="btn btn-danger">Delete</button>
                    <button (click)="updateStudent(studentlist.student_id)" class="btn btn-info" style="margin-left: 10px">Update</button>                </td>
                <!-- <td> {{userR.mobile}}</td> -->
            </tr>
                </tbody><br>  
    </table>  
</div>  
